workflows/system/07.error_notification.json
{
  "name": "Error Notification",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8954ca99-8bac-47c1-bbc9-db44b0b3c6b2",
      "name": "On Workflow Error"
    },
    {
      "parameters": {
        "jsCode": "const DEBUG = $env.DEBUG === 'true';\nconst log   = (...args) => { if (DEBUG) console.log(...args); };\n\nconst error    = $input.first().json;\n\nconst workflow  = error.workflow?.name  ?? 'Unknown workflow';\nconst node      = error.execution?.lastNodeExecuted ?? 'Unknown node';\nconst errorMsg  = error.execution?.error?.message   ?? 'No error message available';\nconst errorType = error.execution?.error?.name      ?? 'Error';\nconst execId    = error.execution?.id               ?? 'unknown';\nconst execUrl   = $env.N8N_BASE_URL\n  ? `${$env.N8N_BASE_URL}/execution/${execId}`\n  : 'Execution URL not available — set N8N_BASE_URL env var';\n\nlog('Error received from workflow:', workflow);\nlog('Failed node:', node);\nlog('Error:', errorMsg);\n\nconst slackText =\n  `:red_circle: *Workflow failed: ${workflow}*\\n` +\n  `*Failed node:* ${node}\\n` +\n  `*Error type:* ${errorType}\\n` +\n  `*Message:* ${errorMsg}\\n` +\n  `*Execution:* ${execUrl}`;\n\nreturn [{\n  json: {\n    workflow,\n    node,\n    errorMsg,\n    errorType,\n    execId,\n    execUrl,\n    slackText\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "45f9bfd5-1cb4-4ac8-9f69-bbc7378ffa46",
      "name": "Build Error Message"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $env['SLACK_CHANNEL_EXEC'] }}",
          "mode": "id"
        },
        "text": "=={{ $json.slackText }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        416,
        0
      ],
      "id": "4c5ca0dd-f64f-435a-bf67-f2fc8906ffdc",
      "name": "Send a message",
      "webhookId": "5c26f392-a473-49f6-a580-644812bf4fb8",
      "credentials": {
        "slackOAuth2Api": {
          "id": "uyUNHJDBmN2CRFCn",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Build Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "69c5be75-2f0a-4cdd-9cbf-ea897f382680",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6615b656b8371fddd13c58341e0cea8d6dcdf664a545af635d49e593619368af"
  },
  "id": "KbsJHQVOmJv0DC48",
  "tags": []
}